test.py
some_crap.json
test_data.csv
test_data.json
test_data_with_comments.csv
test_data_with_reviewers.json
smaller_test_data.json
smaller_test_data_with_reviewers.json
convert_data_to_pretty.py
fig1.png
names_of_reviewers_with_freq.txt
reviewers_per_year.csv
Final_List_Of_Changes.csv
Final_List_Of_Changes_out.csv
Final_Results.txt
__pycache__/
changes_for_reviewers.csv
changes_for_reviewers_ind.csv
changes_for_reviewers_ind_1.csv
changes_for_reviewers_ind_2.csv
data_with_recommendations.csv
data_with_recommendations.csv
data_with_recommendations.json
return_trip/test.csv
return_trip/test_data_with_comments_2020_1.json
return_trip/test_data_with_comments_2020_10.json
return_trip/test_data_with_comments_2020_11.json
return_trip/test_data_with_comments_2020_12.json
return_trip/test_data_with_comments_2020_2.json
return_trip/test_data_with_comments_2020_3.json
return_trip/test_data_with_comments_2020_4.json
return_trip/test_data_with_comments_2020_5.json
return_trip/test_data_with_comments_2020_6.json
return_trip/test_data_with_comments_2020_7.json
return_trip/test_data_with_comments_2020_8.json
return_trip/test_data_with_comments_2020_9.json
test_data_with_comments.json




